<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articles</title>
</head>
<body>
  <h1 class="text-center mt-4">Listing all articles</h1>
  
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>

  <%= render 'article' %>

  <div class="flickr_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
  </div>

</body>
</html>
